div {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px;
    width: 300px;
    text-align: center;
}

h1 {
    color: #322e2e;
    margin-bottom: 20px;
}

p {
    font-size: 14px;
    color: #666;
    margin-bottom: 20px;
}

input{
    width: 80%;
    padding: 10px;
    border: 2px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 20px;
    outline: none;
    transition: border 0.3s ease;
}

input:focus {
    border-color: #3b82f6; 
}

button {
    background-color: #833bf6;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #2563eb;
}

.resultado {
    margin-top: 20px;
    font-size: 18px;
    color: #333;
    font-weight: bold;
}