*{
  margin: 0;
  padding: 0;
}
body{
  font-family: "Roboto",sans-serif;
}
header{
  padding: 25px 50px;
  background:rgb(200, 17, 109);
  background: linear-gradient(90deg, rgba(200,17,109,1)35%,rgba(66,15,74,1)100%);
  color: #ffffff;
  height: 100vh; 
}
nav{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
nav h2{
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
}
.nav-list{
  list-style: none;
  display: flex;
  column-gap: 30px;
}
a{
  text-decoration: none;
  color: #ffff;
}
.principal{
  display: flex ;
}
.principal-left{
  width: 50%;
  position: relative;
  top: 150px;
}
.principal-left h1{ 
  font-weight: 500;
  font-size: 80px;  
  font-style: normal;
}
.principal-left p{
  font-weight: 300;
  font-size: 30px;
  margin-top: 15px;
}
.principal-left input{
  padding: 20px 40px;
  border-radius: 5px;
  color: #ffff;
  background-color: #FC097D;
  border: none;
  box-shadow: 20px 20px 100px rgb(0, 0, 0);
  margin-top: 30px;

}
.principal-right{
  width: 50%;
  display: flex;
  justify-content: flex-end;
}
.principal-right img{
  transform: rotateY(-10deg) rotateX(30deg) skew(-12deg) translateX(-50%);
  height: 500px;
  width: 280px;
  border-radius: 17px;
  box-shadow: 10px 10px 100px rgb(0, 0, 0);
}
.about{
  padding: 0 100px;
  height: 100vh;
  
}

.stadistic{
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  
}
.stadistic div{
  padding: 30px;
}
.box h3{
  font-weight: 400;
  font-size: 50px;
  text-align: center;
}
.box p{
  margin-top: 15px;
  font-weight: 500;
  font-size: 15px;
}
.hamburger{
  margin-top: 150px;
  display: flex;
}
.hamburger-text{
  width: 50%;
}
.hamburger-text h5{
  color: #c8c8c8;
}
.hamburger-text h3{
  margin: 20px 40px 0 0;
  font-weight: 500;
  font-size: 35px;
}
.hamburger-text p{
  margin:20px 90px 0 0;
  line-height: 25px;

}
.hamburger-image{
  width: 50%;
}
.hamburger-image img{
  width: 100%;
  height: 300px;
}

.features{
  height: 100vh;
  background-color: aquamarine;
  padding: 0 60px;
}
.features-app{
  justify-content: space-around;
  margin: 0 150px;
  border: 1px solid;
  display: flex;
}
.features-app-text{
  width: 50%;
  margin-top: 30px;
  padding: 0 70px 0 0;
}
.features-app-text h3{
  margin-top: 20px;
  font-weight: 500;
  font-size: 30px;
}
.features-app-text p{
  font-size: 13px;
  margin-top: 20px;
  line-height: 17px;
}
.features-app-text h5{
  color: #c8c8c8;
}
.features-app-image{
  width: 50%;
  height: 300px;
  align-items: center;
}
.features-app-image img{
  height: 300px;
  width: 180px;
  border-radius: 10px;
}

.features-targets{
  border: 1px solid;
  display: flex;
}
.features-targets div{
  display: flex;
  flex-direction: column;
  align-items: center;
}


