/*  Elementos de display block */
.block{
    top: 10px;
    display: block;
    margin: 20px 0;
    border-radius: 12px;
}

header{
    background-color: #989595;
    height: 80px;
}

#salmon{      
    width: 150px;
    height: 100px;
    padding: 5px ;
    background-color: rgb(223, 165, 165);
    border-radius: 15px;
}

footer{
    background-color: rgb(215, 196, 230);
    height: 80px;
}

#azul{
    width: 150px;
    height: 190px;
    padding: 5px;
    background-color: rgb(142, 178, 240);
    border-radius: 15px;
}

/* Elemento de display inline */

.inline{
    top: 25px;
    display: inline;
    margin: 100px;
    border-radius: 12px;
}

#amarillo{
    position: absolute;
    top: 25px;
    left: 100px;
    width: 80%;
    height: 250px;
    padding: 30px;
    background-color: rgb(247, 255, 11);
}

