*{
    margin: 0;
    padding: 0;
    position: relative;
    color: #5e5c5c;
}

body{
    display: flex;
    margin: 0;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 15px;
}

.card{
    background: #102038;
    border-radius: 15px;
}

.head{
    background-color: #13273f;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 3px 6px gray;
    width: 300px;
}

.head img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

.img-p{
    position: relative;
    padding-top: 100%;
    overflow: hidden;
    width: 100%;
}

.img-p img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

.descripcion{
    padding: 15px;
}

h3{
    color: white;
    font-size: 1rem;
    margin: 0 0 10px 0;
}

.texto{
    margin: 0 0 13px 0;
}

.numeros{
    color: #21eee9;
}

.reloj{
    float: right;
}

hr{
    border: none;
    margin: 15px 0;
    border-top: 1px solid;
}

.autor {
    display: flex;
    align-items: center;
    margin-top: 15px;
}

.img-a{
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid white;
    height: 35px;
    width: 35px;
    margin-right: 10px;
}

.n-autor{
    color: #757b83;
}

.color{
    color: white;
} 








