html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: rgb(12, 25, 44);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 90%;
    max-width: 400px;
    height: auto;
    padding: 25px;
    border-radius: 25px;
    background-color: #12263e;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.container img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 20px;
}

h1 {
    color: #bcc7d5;
    margin: 0 0 20px;
}

p {
    color: #556276;
    font-size: 1rem;
}

.datos {
    display: flex;
    align-items: center;
    gap: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    margin: 0 5px;
}

.datos img {
    width: 1em;
    height: auto;
    margin-top: 20px;
}

.reloj-contenedor {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-left: auto;
}

.perfil {
    display: flex;
    align-items: center;
    margin-right: 30px;
}

.perfil img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 20px;
    margin-top: 30px;
}

.perfil p {
    margin: 0;
    font-size: 1rem;
}

.eth-value {
    color: #349fa8;
}

.creator-name {
    color: #bcc7d5;
}
