*{
    margin: 0;
    padding: 0;
}

article{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    background-color: lightcoral;
    height: 52rem;
    min-width: 10rem;
}

article button{
    background-color: lightblue;
    height: 10rem;
    width: 20rem;
    min-width: 5rem;
    min-height: 10rem;
    margin-top: 2rem;
    border-radius: 30%;
    color: white;
    font-family: Arial;
    font-size: 1.5rem;
}

article p{
    color: white;
}