*{
    margin: 0;
}

header{
    padding: 20px;
    background-color: rgb(200, 16, 109);
}

[data-name="menu"]{
    color: white;
    display: inline-block;
}

[data-name="menu-buttons"]{
    background-color: rgb(200, 16, 109);
    border-color: whitesmoke;
    margin-left: 40px;
    color: white;
    padding: 15px;
}

#returnHome{
    position: fixed;
    right: 100px;
    bottom: 580px;
    background-color: black;
    color: white;
}

/*Cupcake Section*/

[data-name="cupcake-section"]{
    display: flex;
    background-color: rgb(200, 16, 109);
    margin-bottom: 20px;
}

[data-name="title-cupcake"]{
    font-size: 70px;
    margin-top: 100px;
    margin-bottom: 20px;
}

[data-name="text-cupcake"]{
    font-size: 25px;
    word-spacing: 7px;
}

[data-name="info-cupcake"]{
    width: 50%;    
    color: white;
    margin-left: 100px;
    font-family: Arial;
}

[data-name="cupcake"]{
    margin: 30px;
    border-radius: 10%;
}

[data-name="button-cupcake"]{
    color: white;
    background-color: rgb(253, 11, 125);
    margin-top: 20px;
    height: 65px;
    width: 150px;
    border-radius: 5%;
    border-color: rgb(253, 11, 125);
}

/*Hamburger Section*/

[data-name="hamburgers-section"]{
    margin-top: 50px;
    margin-bottom: 20px;
}

[data-name="info-hamburgers"]{
    display: inline-block;
    margin-left: 150px;
}

[data-name="info-hamburgers-title"]{
    font-size: 30px;
}

[data-name="info-hamburgers-content"]{
    font-size: 105x;
}

[data-name="hamburgers-content"], [data-name="paste-content"]{
    word-spacing: 3px;
    display: flex;
    margin-left: 200px;
    font-family: Arial;
}

[data-name="subtitle-hamburgers"], [data-name="subtitle-paste"]{
    font-size: 10px;
    color: lightgray;
    margin-top: 150px;
}

[data-name="title-hamburgers"], [data-name="title-paste"]{
    font-size: 40px;
    margin-top: 20px;
}

[data-name="text-hamburgers"], [data-name="text-paste"]{
    font-size: 15px;
    color: gray;
    margin-top: 15px;
}

[data-name="hamburgers"]{
    margin-top: 180px;
    margin-left: 70px;
    margin-bottom: 40px;
}


/*Paste Section*/

[data-name="subtitle-paste"]{
    margin-top: 200px;
}

[data-name="target"]{
    margin-top: 100px;
    margin-left: 200px;
    background-color: rgb(246, 246, 246);
    width: 350px;
    height: 400px;
    border-radius: 5%;

}

[data-name="paste"]{
    text-align: center;
    margin-top: 20px;
}

[data-name="paste-content"]{
    margin-bottom: 200px;
}

[data-name="info-target-title"]{
    display: inline-block;
    color: gray;
    font-size: 10px;
    font-family: Arial;
    margin-left: 50px;
    margin-top: 40px;
}

[data-name="ingredients-title"]{
    color: gray;
    margin-left: 20px;
    margin-bottom: 10px;
    font-family: Arial;
    font-size: 10px;
}

[data-name="info-target-text"]{
    color: black;
    font-size: 15px;
    margin-top: 10px;
}

[data-name="ingredients"]{
    display: inline-block;
    text-align: center;
    width: 23%;

}

[data-name="info-paste-title"]{
    font-size: 15px;
    margin-top: 20px;
}

[data-name="info-paste-content"]{
    font-size: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    color: gray;
}

[data-name="info-paste"]{
    font-family: Arial;
    text-align: center;
    width: 33%;
    display: inline-block;
}

/*Menu section*/
[data-name="menu-section"]{
    background-color: rgb(27, 27, 27);
    padding: 50px;
    text-align: center;
    font-family: Arial;
    margin-top: 20px;
    margin-bottom: 20px;
}

[data-name="menu-subtitle"]{
    color: gray;
    font-size: 15px;
}

[data-name="menu-title"]{
    color: white;
    margin-top: 20px;
    font-size: 30px;
}

[data-name="menu-img"]{
    width: 600px;
    margin-top: 100px;
    margin-bottom: 0;
    z-index: 1;
    position: relative;
    left: 150px;
    bottom: -50px;
}

[data-name="basil2-img"]{
    width: 100px;
    z-index: 2;
    position: relative;
    left: -450px;
    bottom: -50px;
}

[data-name="cupcake2-img"]{
    width: 200px;
    z-index: 2;
    position: relative;
    left: -110px;
    bottom: -50px;
}

/*Download section*/

[data-name="download-section"]{
    margin-top: 20px;
}

[data-name="start-section"]{
    background-color: rgb(155, 33, 162);   
    padding: 100px;
    margin-top: 20px;
    text-align: center;
}

[data-name="start-question"]{
    color: white;
    font-family: Arial;
    font-size: 30px;
    margin-top: 10px;

}

[data-name="start-buttons-section"], [data-name="input-section"]{
    display: inline-block;
    margin-top: 30px;
}

[data-name="start-button"], [data-name="get-button"]{
    background-color: rgb(251, 11, 126);
    border-color: rgb(251, 11, 126);
    width: 180px;
    height: 60px;   
    border-radius: 20%;
    color: white;
    font-family: Arial;
    font-size: 15px;
}

[data-name="get-button"]{
    background-color: transparent;
    
}

[data-name="update-section"]{
    background-color: black;   
    padding: 100px;
    text-align: center;
}

[data-name="update-title"]{
    color: white;
    font-size: 30px;
    font-family: Arial;
}

[data-name="update-subtitle"]{
    color: gray;
    margin-top: 20px;
}

[data-name="input"]{
    padding: 15px;
    width: 250px;
    margin-right: 0;
}

[data-name="input-button"]{
    background-color: rgb(251, 11, 126);
    border-color: rgb(251, 11, 126);
    color: white;
    margin-left: 0;
    padding: 16px;
    font-size: 12px;
}

