body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(135deg, #03529B, #0695D7, #50BBEB);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFF;
  }