*{
    margin: 0;
    padding: 0;
}
th{
    background-color: black;
    color: white;
}
td{
    padding: 5% 2%;
    width: 40%;
    border: 1px solid black;
}
button{
    background-color: black;
    border: 2px solid gray;
    color: white;
    height: 2%;
}
input{
    height: 30px;
}
#container-urlbutton{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 50%;
    margin-top: 5%;
}
h1{
    text-align: center;
    color: rgb(86, 0, 152);

}
