*{
    margin: 0;
    padding: 0;
    position: relative;
}
div{
    background-color: black;
    width: 250px;
    height: 250px;
    border-radius: 100%;
}
div:nth-child(2){
    left: 250px;
    top: -250px;
}
div:nth-child(3){
    left: 500px;
    top: -500px;
}
div:nth-child(4){
    left:750px ;
    top: -750px;
}
div:nth-child(5){
    left: 0;
    top: -750px;
}
div:nth-child(6){
    left: 250px; ;
    top: -1000px;
}
div:nth-child(7){
    left: 500px;
    top: -1250px;
}
div:nth-child(8){
    left: 750px;
    top: -1500px;
}
div:nth-child(9){
    left:0;
    top: -1500px;;
}
div:nth-child(10){
    left: 250px;
    top: -1750px;
}
div:nth-child(11){
    left: 500px;
    top: -2000px;
}
div:nth-child(12){
    left: 750px;
    top: -2250px;
}
div:nth-child(13){
    left: 0;
    top: -2250px;
}
div:nth-child(14){
    left: 250px;
    top: -2500px;
}
div:nth-child(15){
    left: 500px;
    top: -2750px;
}
div:nth-child(16){
    left: 750px;
    top: -3000px;
}


