html, body {
    height: 100%; /* Asegura que el body ocupe toda la altura de la pantalla */
    margin: 0; /* Elimina los márgenes predeterminados del body */
    padding: 0; /* Elimina el padding predeterminado del body */
}

.box-one {
    position: absolute;
    top: 0; /* Coloca la caja en la parte superior */
    left: 0; /* Coloca la caja en la parte izquierda */
    width: 100px;
    height: 100px;
    background-color: rebeccapurple;
}

.box-two {
    position: absolute;
    top: 0; /* Coloca la caja en la parte superior */
    right: 0; /* Coloca la caja en la parte derecha */
    width: 100px;
    height: 100px;
    background-color: blueviolet;
}

.box-three {
    position: absolute;
    bottom: 0; /* Coloca la caja en la parte inferior */
    left: 0; /* Coloca la caja en la parte izquierda */
    width: 100px;
    height: 100px;
    background-color: blueviolet;
}

.box-four {
    position: absolute;
    bottom: 0; /* Coloca la caja en la parte inferior */
    right: 0; /* Coloca la caja en la parte derecha */
    width: 100px;
    height: 100px;
    background-color: blueviolet;
}
