header{
    border-radius: 5px;
    display: block;
    background-color: gray;
}

#p1{
    border-radius: 5px;
    float: right;
    background-color: rgb(248, 203, 71);
    width: 83%;
    font-size: 130%;
    

    
}
#p2{
    border-radius: 5px;
    display: block;
    width: 15%;
    background-color: rgb(118, 146, 187);
}
#p3{
    display: block;
    width: 15%;
    border-radius: 5px;
    background-color: rgb(239, 135, 134);
}
footer{
    border-radius: 5px;
    background-color: rgb(199, 192, 227);
    display: block;
}