* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #2b2d42;
    color: #edf2f4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
}

h1 {
    color: #ef233c;
    margin-bottom: 20px;
}

textarea {
    width: 80%;
    max-width: 600px;
    padding: 15px;
    border: 2px solid #8d99ae;
    border-radius: 10px;
    background-color: #edf2f4;
    color: #2b2d42;
    font-size: 16px;
    resize: none;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #d90429;
    color: #edf2f4;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #ef233c;
    box-shadow: 0 4px 10px rgba(237, 242, 244, .8);
}

#lastNames {
    color: #8d99ae;
    font-weight: bold;
    display: inline-block;
    margin-top: 20px;
}

p {
    margin: 20px;
}