* {
    font-family: "SUSE", sans-serif;
    font-style: normal;
    margin: 0;
    position: relative;
    color: #8b949e;
}
body {
    background-color: #b5bdc8;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-size: 14px;
}
hr {
    border: none; 
    border-top: 0.5px solid; 
    margin: 10px 0; 
}
.conteiner{
    background-color: #0C192C;
    padding: 1em;
    border-radius: 15px;
}
.card {
    width: 300px;
    background-color: #16263F;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(51, 24, 24, 0.1);    
}
.image-container {
    position: relative;
    width: 100%;
    padding-top: 100%;
    background-color: #253245;
    overflow: hidden;
}
.image-container img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; 
}
.content {
    padding: 20px;
}
h2 {
    color: white;
    margin: 0 0 10px 0;
    font-size: 24px;

}
#descr {
    margin: 0px 0 15px 0;
}
.price {
    color: #21F2EC;
    font-weight: bold;
}
.time-left {
    font-size: 14px;
    float: right;
}
.creator {
    margin-top: 15px;
    display: flex;
    align-items: center;
}
.avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #30363d;
    margin-right: 10px;
    overflow: hidden; 
    border: 1px solid white;
}
.card img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; 
}
.creator-name {
    color: #647B9B;
}
