body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header {
    display: block;
    background-color: gray;
    height: 80px;
    width: 100%;
    border-radius: 20px;
    margin: 10px;
}

nav {
    display: block;
    background-color: black;
    height: 0;
    width: 0;
    border-radius: 20px;
}

main {
    display: block;
    width: 100%;
}

.left-top,
.left-bottom {
    display: block;
    width: 15%;
}

.left-top {
    height: 350px;
    background-color: #7DA6D7;
    float: left;
    margin: 15px;
    border-radius: 20px;
}

.left-bottom {
    height: 225px;
    background-color: #F5A8A2;
    float: left;
    clear: left;
    margin: 15px;
    border-radius: 20px;
}

article {
    display: inline-block;
    background-color: #FFD54F;
    width: 80%;
    height: 600px;
    margin: 20px;
    border-radius: 20px;
}

footer {
    display: block;
    background-color: #D1C4E9;
    height: 80px;
    width: 100%;
    clear: both;
    margin: 15px;
    border-radius: 20px;
}