* {
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(355deg, #424874, #DCD6F7, #F4EEFF);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFF;
  }