html, body {
    height: 100%; 
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: auto;
}

.fila {
    display: block;
    text-align: center;
}

.circle {
    width: 150px;
    height: 150px;
    display: inline-block;
    border-radius: 50%;
    background-color: #31485a;
    margin: 10px;
}
