html, body {
    height: 100%; 
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: grid;
    grid-template-columns: repeat(4, auto);
    gap: 10px;
}

.fila {
    display: contents;
}

.circle {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #31485a;
}
