<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Tamplate</title>
</head>
<body>
    <div class="nav">
       <img src="./img/logo.png" alt="" class="nav-logo"> 
       <ul class="nav-options">
        <li><a href="#second-conteiner">About</a></li>
        <li><a href="#third-conteiner">Features</a></li>
        <li><a href="#four-conteiner">How to Use</a></li>
        <li><a href="#fifth-conteiner">Download</a></li>
       </ul >
    </div>
    <section>
        <div class="conteiner" id="first-conteiner">
            <div id="text-content">
                <h1>Momentum</h1>
                <h3>Launch your product - and sabor the momentum.</h3>
                <a class="button" href="">Get the App</a>
            </div>
            <img class="img-conteiner" src="./img/Control.webp" alt="Imagen Helado">
        </div>
        <div class="second-conteiner" id="second-conteiner">
            <h3>Aenean Consectetur Porta</h3>
            <h1>Nullam quis risus eget urna mollis ornare vel eu leo.</h1>
            <div >
                <img class="second-img-container" src="./img/pacman.png" alt="Pantalla Arcade">
            </div>
        </div>
        <div class="third-conteiner" id="third-conteiner">
            <div class="third-conteiner-text">
                <h1>Video Juguegos</h1>
                <h3> Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia aspernatur nihil odit magnam totam. Quam dignissimos amet cupiditate tempora sed.</h3>
            </div>
            <div class="third-conteiner-image">
                <img src="./img/arcade.png" alt="">
            </div>
        </div>
        <div class="four-conteiner" id="four-conteiner">
                <div>
                    <img src="./img/PlayStation.png" alt="">
                    <h2>PlayStation</h2>
                    <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit corporis nesciunt itaque rerum, ratione deserunt quam consequatur! Eum, laborum commodi?</h4>
                </div>
                <div>
                    <img src="./img/xbox.png" alt="">
                    <h2>XBOX</h2>
                    <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam in, necessitatibus sapiente fugiat facilis provident quod quia eos illo animi!</h4>
                </div>
                <div>
                    <img src="./img/Nintendo.png" alt="">
                    <h2>Nintendo</h2>
                    <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta adipisci fugit animi voluptatibus facilis eum voluptate assumenda quas minima modi?</h4>
                </div>
        </div>
        <div class="fifth-conteiner" id="fifth-conteiner">
                <h1>More Videogames</h1>
                <div class="fifth-conteiner-buttons">
                    <button class="first-button">Download</button>
                    <button>More Info</button>
                </div>
        </div>
    </section>
    <footer>
        <div>
            <h3>@Derechos de Autor Miguel Mata</h3>
            <ul>
                <li>Facebook</li>
                <li>Instagram</li>
                <li>Twitter</li>
                <li>Youtube</li>
            </ul>
        </div>
    </footer>
</body>
</html>